@font-face {
    font-family: 'Open Sans'; 
    src: url('fonts/Open_Sans/OpenSans-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('fonts/Open_Sans/OpenSans-Bold.ttf');
}

body{
    background-color: #1E1E1E;
    overflow: hidden;
}

.main-space{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-space{
    z-index: 3;
}

.selector{
    margin: 0 auto;
    margin-top: 80px;
    width: 700px;
    height: 250px;
    background-color: transparent;
}   

.particle-name{
    text-align: center;
    vertical-align: top;
    font-size: 30pt;
    color: white;
    font-family: 'Open Sans Light';
    
}
.start-button{
    width: 300px;
    height: 80px;
}
button{
    display: block;
    
    background-color: white;
    color: #1E1E1E;
    margin: 100px auto;
    border-radius: 10px;
    font-size: 30pt;
    font-family: 'Open Sans Bold';
    outline: none;
    transition: 0.2s;
}
button:active{
    background-color: grey;
}

.canvas{

    border: 2px solid white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.header{
    text-align: center;
    font-family: 'Open Sans Light';
    font-weight: lighter;
    font-size: 30pt;
    color: white;
}

.collider{
    position: absolute;
    width: 900px;
    height: 900px;
    z-index: 1;
}

.swiper-slide-inside {
    background-color: transparent;    
    font-size: 30pt;
    color: white;
    font-family: 'Open Sans Light';
}

swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-button-prev {
    color: white;
  }

  .swiper-button-next {
    color: white;
  }