@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-Regular.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'Journal Sans New';
    src: url('fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('fonts/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Journal Sans New';
    src: url('fonts/JournalSansNew/JournalSansNew.ttf');
}

@font-face {
    font-family: 'Journal Sans New Display';
    src: url('fonts/JournalSansNew/JournalSansNewDisplay.ttf');
}

@font-face {
    font-family: 'Journal Sans New Oblique';
    src: url('fonts/JournalSansNew/JournalSansNewOblique.ttf');
}

@font-face {
    font-family: 'Journal Sans New Inline';
    src: url('fonts/JournalSansNew/JournalSansNewInline.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Journal Sans New Italic';
    src: url('fonts/JournalSansNew/JournalSansNewItalic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Journal Sans New Bold';
    src: url('fonts/JournalSansNew/JournalSansNewBold.ttf');
    font-weight: bold;
    font-style: normal;
}


html, body {
    margin: 0 !important;
    padding: 0 !important;
}
body{
    background-color: #000000;
    overflow: hidden;
}

.main-space {
    margin-top: 180px;
    margin-left: 1185px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
}

.left-space {
    z-index: 4;
    right: 50px;
}

.selector {
    right: 100px;
    margin: 0 auto;
    margin-top: 20px;
    width: 700px;
    /* height: 600px; */
    background-color: transparent;
    position: relative;
}

.particle-name {
    text-align: center;
    vertical-align: top;
    font-size: 30pt;
    color: white;
    font-family: 'Journal Sans New Bold';
    
}
.accelerating-countdown-header {
    top: -230px;
    position: absolute;
    right: 860px;
    text-align: center;
    font-family: 'Journal Sans New Bold';
    font-size: 50pt;
    color: orangered;
}

.new-particle-text {
    position: absolute;
    top: -50px;
    left: 800px;
    background-color: #000000;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    width: 1000px;
    height: 1000px;
    z-index: 3;
    font-size: 20pt;
    font-family: 'Journal Sans New';
}

.new-particle-header {
    color: white;
    font-size: 40pt;
    text-align: center;
    font-weight: 300;
}

img.atom-gif {
    width: 10px;
    
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 2px;
}

h2 {
    font-family: 'Journal Sans New';
    font-weight: lighter;
    color: white;

}

.start-button {
    width: 300px;
    height: 80px;
}

button {
    display: block;

    background-color: white;
    color: #1E1E1E;
    margin: 10px auto;
    border-radius: 10px;
    font-size: 30pt;
    font-family: 'Open Sans Bold';
    outline: none;
    transition: 0.2s;
}

button:active {
    background-color: grey;
}

.new-particle-window {
    position: absolute;
    top: 100px;
    left: 550px;
    background-color: #000000;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    width: 700px;
    height: 900px;
    z-index: 3;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.header-name {
    top: -20px;
    position: absolute;
    left: 280px;
    text-align: center;
    font-family: 'Journal Sans New Bold';
    font-weight: lighter;
    font-size: 50pt;
    color: white;
}
.header-choose {
    top: -20px;
    position: absolute;
    right: 290px;
    text-align: center;
    font-family: 'Journal Sans New Bold';
    font-size: 50pt;
    color: white;

}

.header1{
    position: relative;
    left: 320px;
}

.timer-header {
    font-family: 'Journal Sans New';
    font-weight: lighter;
    font-size: 70pt;
    color: white;
    bottom: -60px;
    left: 100px;
    /* left: 190px; */
    /* top: 150px; */
    position: absolute;
}
.fullscreen-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
#background-video {
    z-index: -1;
}
#explosion-video {
    z-index: 2;
    opacity: 0;
}
.timer-header-word {
    font-family: 'Journal Sans New';
    font-weight: lighter;
    font-size: 50pt;
    color: white;
    bottom: 55px;
    margin-left: 40px;
    /* left: 10px; */
    /* left: 140px; */
    /* top: 60px; */
    position: absolute;
}

.collider {
    position: absolute;
    width: 900px;
    z-index: 1;
    left: 100px;
    bottom:100px;
}

.swiper-slide-inside {
    padding-left: 7px;
    padding-right: 7px;
    background-color: transparent;
    font-size: 30pt;
    color: white;
    font-family: 'Journal Sans New';
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    height: 650px;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: inline-block;
    width: 85%;
    height: 85%;
    object-fit: cover;
}


.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-prev {
    top: 280px;
    left: -210px;
    height: 120px;
    width: 120px;
    color: white;
}

.swiper-button-next {
    /* left: 10px; */
    right: -10px;
    top: 280px;
    height: 120px;
    width: 120px;
    color: white;
}

.emoji1 {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    background: #ff0000;
    border-radius: 50%;
}

.emoji2 {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    background: #0000ff;
    border-radius: 50%;
}


.right-space {
    width: 200px;
    height: 600px;
    position: absolute;
    right: -200px;
    top: 200px;
    /* background-color: aquamarine; */
}   

img.animated-gif-up{
    width: 200px;
    height: auto;
    border:400px;
    padding: 5px;
    background-color: red;
}

img.animated-gif-down{
    width: 200px;
    height: auto;
    border:400px;
    padding: 5px;
    background-color: blue;
}


.selected-arrow-down{
    width: 200px;
    height: 200px;
    margin-bottom:-60px;
}

.selected-arrow-up{
    width: 200px;
    height: 200px;
    margin-top:-60px;
  }

.swiper-info{
    color: white;
    font-family: 'Journal Sans New';
    font-size: 17pt;
    border: 2px solid white;
    position: relative;
    top: 20px;
    right: 100px;  
    border-radius: 10px;  
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

